.botao .btn-floating{
	position: absolute;
    top: 30px;
    left: 30px;
}
.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link a i{
    color: #ccc !important;
}
.social-link a{
    text-decoration: none;
    margin:25px 10px;
    color: #ccc;
}
.fa-linkedin-in:hover{
    color:#0077b5 ;
    transition: 0.5s all ease;
}
.fa-github:hover{
    color:#000 ;
    transition: 0.5s all ease;
}
.fa-stack-overflow:hover{
    color: #f48024;
    transition: 0.5s all ease;
}
.fa-twitter:hover{
    color: #2aa9e0;
    transition: 0.5s all ease;
}
.fa-envelope:hover{
	color: #e57373;
	transition: 0.5s all ease;
}
.waves-effect span{
    margin-left: 20px;
    font-size: 16px;
}
.waves-effect:hover{
    border-left: 5px solid #2aa9e0;
}
.banner-home{
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg-fundo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -99;
}
.anuncio{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
}
.type-wrap{
    font-weight: 600;
    font-size: 45px !important;
}

.skills{
	width: 100%;
	
}
.contatos{
	width:100%;
	height: 500px;
	background-image: url("../images/harry.jpg");
	background-position: center;
	background-size: cover; 
}
.meus-contatos a{
	color: #ccc;
	margin: 20px 30px;
}





























