<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:th="http://www.thymeleaf.org" 
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="TemplatePadrao">

<section layout:fragment="conteudo">
<section class="contatos z-depth-3">
</section>
<section class="container center">
	<h2>Leandro de Lima Coelho</h2>
	<div class="meus-contatos">
	<a href="https://www.linkedin.com/in/leandro-de-lima-coelho-88a5a0154/"><i class="fab fa-linkedin-in fa-9x"></i></a>
	<a href="https://github.com/coelho566"><i class="fab fa-github fa-9x"></i></a>
	 <a href="https://pt.stackoverflow.com/users/175652/leandro-de-lima-coelho"><i class="fab fa-stack-overflow fa-9x"></i></a>
	<a href="https://twitter.com/login?lang=pt"><i class="fab fa-twitter fa-9x"></i></a>
	<a href="leandrofreestyle18@gmail.com"><i class="fas fa-envelope fa-9x"><i class="fas fa-envelope"></i></i></a>
	</div>
</section>
</section>

</html>