<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:th="http://www.thymeleaf.org" 
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="TemplatePadrao">

<section layout:fragment="conteudo">

<div class="container skills">
<h2>Skills</h2>
  <div class="row">
      <div class="col s2">
      	 <div class="card">
		    <div class="card-image waves-effect waves-block waves-light center">
		      <i class="fab fa-html5 fa-10x " style="color:orange;"></i>
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">HTML 5<i class="material-icons right">more_vert</i></span>
		     
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">HTML 5<i class="material-icons right">close</i></span>
		      <p>Conhecimentos avançado em html</p>
		    </div>
		  </div>
      
      </div>
      <div class="col s2">
      	 <div class="card">
		    <div class="card-image waves-effect waves-block waves-light center">
		      <i class="fab fa-css3-alt fa-10x" style="color:#039be5;"></i>
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">CSS 3<i class="material-icons right">more_vert</i></span>
		     
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">CSS 3<i class="material-icons right">close</i></span>
		      <p>Conhecimentos avançados em css.</p>
		    </div>
		  </div>
      
      
      </div>
      <div class="col s2">
      	 <div class="card">
		    <div class="card-image waves-effect waves-block waves-light center">
		      <i class="fab fa-bootstrap fa-10x" style="color:#673ab7;"></i>
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Bootstrap<i class="material-icons right">more_vert</i></span>
		  
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Bootstrap<i class="material-icons right">close</i></span>
		      <p>Conhecimentos intermediário em bootstrap 4.</p>
		    </div>
		  </div>
      </div>
      <div class="col s2">
      	 <div class="card">
		    <div class="card-image waves-effect waves-block waves-light center">
		      <i class="fab fa-js-square fa-10x" style="color:#fdd835;"></i>
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">JavaScript<i class="material-icons right">more_vert</i></span>
		     
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">JavaScript<i class="material-icons right">close</i></span>
		      <p>Conhecimento intermediário em javascript.</p>
		    </div>
		  </div>
      
      </div>
      <div class="col s2">
      	 <div class="card">
		    <div class="card-image waves-effect waves-block waves-light center">
		      <i class="fab fa-github-square fa-10x"></i>
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">GitHub<i class="material-icons right">more_vert</i></span>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">GitHub<i class="material-icons right">close</i></span>
		      <p>Conhecimentos avançados em git.</p>
		    </div>
		  </div>
      
      </div>
      <div class="col s2">
      	 <div class="card">
		    <div class="card-image waves-effect waves-block waves-light center">
		      <i class="fab fa-sass fa-10x" style="color:#f06292;"></i>
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Sass<i class="material-icons right">more_vert</i></span>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Sass<i class="material-icons right">close</i></span>
		      <p>Conhecimento avançados em sass</p>
		    </div>
		  </div>
      
      </div>
   </div>
   
     <div class="row">
      <div class="col s2">
      	 <div class="card">
		    <div class="card-image waves-effect waves-block waves-light center">
		      <i class="fab fa-php fa-10x" style="color:#1e88e5;"></i>
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">PHP<i class="material-icons right">more_vert</i></span>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">PHP<i class="material-icons right">close</i></span>
		      <p>Conhecimentos intermediário em php.</p>
		    </div>
		  </div>
      
      </div>
      <div class="col s2">
      	 <div class="card">
		    <div class="card-image waves-effect waves-block waves-light center">
		      <i class="fab fa-java fa-10x" style="color:#bdbdbd;"></i>
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Java<i class="material-icons right">more_vert</i></span>
		    
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Java<i class="material-icons right">close</i></span>
		      <p>Iniciando estudos em java</p>
		    </div>
		  </div>
      
      
      </div>
      <div class="col s2">
      	 <div class="card">
		    <div class="card-image waves-effect waves-block waves-light center">
		      <i class="fas fa-database fa-10x" style="color:#607d8b;"></i>
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Mysql<i class="material-icons right">more_vert</i></span>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Mysql<i class="material-icons right">close</i></span>
		      <p>Conhecimentos em banco de dados mysql, sqlserver e postgresql.</p>
		    </div>
		  </div>
      </div>
      <div class="col s2">
      	 <div class="card">
		    <div class="card-image waves-effect waves-block waves-light center">
		     <i class="fab fa-gulp fa-10x" style="color:#e53935;"></i>
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Gulp<i class="material-icons right">more_vert</i></span>

		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">JavaScript<i class="material-icons right">close</i></span>
		      <p>conhecimento básico em gulp.</p>
		    </div>
		  </div>
      
      </div>
      <div class="col s2">
      	 <div class="card">
		    <div class="card-image waves-effect waves-block waves-light center">
		      <i class="fab fa-npm fa-10x" style="color:#ef5350;"></i>
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Npm<i class="material-icons right">more_vert</i></span>

		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Npm<i class="material-icons right">close</i></span>
		      <p>Conhecimentos básico em npm.</p>
		    </div>
		  </div>
      
      </div>
  
   </div>
</div>   

</section>

</html>